/* h1{
    color: red;
} */

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item{
    padding: 50px;
    background-color: grey;
    flex-basis: calc((100% - 100px) / 3);
}